#logo{
    top:40px;
     display: block;
    margin: auto;  
  }

.canvas-container {
   
    margin:auto;
    /*height: 1000px;*/
    overflow: scroll;
    max-width: 100%;
    max-height: 100%;
}


 .stop_drawing{
      top:16px;
  }
  
#image-list{
   /*  height:auto; 
    margin: auto;
    left: 10px;
    padding: 0px;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden; */
}

#image-list li{
 
}

#image-list li img{
    display: block;
}

#toolbar{
    margin: auto;
    left: 10px;
    padding: 0px;
    width:50px;
}

#toolbar li{
    margin-bottom: 8px;

}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;/* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: teal;
}