.card-horizontal{
	width:100%;
	margin-left: 2%;
}

.container{
	padding-top: 5%;
}

.opo {
  width: 100%;
  margin-left: 2%;
  margin-bottom: 30px;
  background: white;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  font-family: 'roboto', sans-ser}
  
  nav{
  background-color:#2196f3;
  height: 100px;
  }
  
  button
  {
  background-color:#2196f3;
  
  }
#error {
	color:red;
	font-style:italic;
}
#validate {
	color:red;
	font-style:italic;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}